body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	
	background: url("#{resource['images/bg.jpg']}");
	background-size: cover;
	height: 100vh;
	width: 100%;
	background-attachment: fixed;
}

.center-block {
	padding-top: 120px;
	margin-bottom: 40px;
}

.header {
	background: #2c3e50;
	position: absolute;
    width: 100%;
}

.header .logo {
	float: left;
}

.header-container {
	width: 1200px;
	margin: 0 auto;
}

.header button {
	color: #FFFFA0;
    float: right;
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
    margin: 20px 5px;
    padding: 10px 35px;
    border-radius: 35px;
    text-transform: uppercase;
}

.header button:hover {
    background: rgba(255,255,255,0.2);
    color: #FFFFA0;
}

.header-container img {
	height: 75px;
    padding: 10px;
}

.header-btn {
	color: #FFFFA0;
	float: right;
    text-decoration: none;
    cursor: pointer;
    margin: 20px 5px;
    padding: 10px 35px;
    border-radius: 35px;
    text-transform: uppercase;
}

.header-btn:hover {
	background-color: rgba(255,255,255,0.2);
	color: #FFFFA0;
    text-decoration: none;
}

.center-block-main {
	padding-top: 50px;
}

.center-block-main h1 {
	font-size: 150px;
	color: white;
	margin-top: 60px;
	margin-bottom: 0;
	text-align: center;
	text-shadow: 2px 2px #16a085, 5px 5px #FFFFA0;
	font-family: 'Amatic SC', cursive;
}

.center-block-main .container{
	background: white;
	width: 100%;
	margin-top: 40px;
	margin-bottom: 40px;
}

.center-block-main .container .recettes{
	width: 70%;
	margin: 15px auto;
}

.recette {
	padding: 20px;
    box-shadow: 0px 0px 10px;
    margin: 30px;
    border-radius: 5px;
}

.recettes a {
	text-decoration: none;
	cursor: pointer;
	color: black;
}

.img-recette {
	width: 28%;
    display: inline-block;
}

.img-recette img {
	width: 100%;
}

.desc-recette {
	width: 65%;
    display: inline-block;
    margin-left: 10px;
}

.name-recette {
	font-size: 45px;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
}

.price-recette {
	font-size: 30px;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
}

.category-recette {
	font-size: 20px;
}

.ing .form-control {
	width: 48%;
	display: initial;
}

.center-block h1 {
	font-size: 200px;
	color: white;
	margin-top: 60px;
	margin-bottom: 0;
	text-align: center;
	text-shadow: 2px 2px #16a085, 5px 5px #FFFFA0;
	font-family: 'Amatic SC', cursive;
}

.center-block h2 {
	font-size: 25px;
	color: white;
	text-align: center;
}

.center-block .cta_home {
	margin: 60px auto;
    width: 280px;
    display: block;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    cursor: pointer;
    font-size: 18px;
}

.center-block .cta_home:hover {
    background-color: white;
    color: #16a085;
}

.center-block a {
	text-decoration: none;
}

.center-block a:hover {
	text-decoration: none;
}

.connexion {
	background: white;
    border-radius: 5px;
    width: 490px;
    margin: 0 auto;
    margin-top: 150px;
}

.new-recette {
	background: white;
    border-radius: 5px;
    width: 60%;
    margin: 0 auto;
    margin-top: 50px;
}

.new-recette h1 {
	font-size: 75px;
    color: #2c3e50;
    padding: 30px;
    text-align: center;
    text-shadow: none;
    margin: 0;
}

.connexion h1 {
	font-size: 75px;
    color: #2c3e50;
    padding: 30px;
    text-align: center;
    text-shadow: none;
    margin: 0;
}

.form-container {
	padding: 20px;
}

.form-container .btn-signin {
	padding: 10px;
    border-radius: 5px;
    background: #3498db;
    color: white;
    border: none;
    width: 100%;
}

.form-container .btn-signup {
	margin: 0;
}

.form-container p {
	margin-top: 10px;
}

.dyn-form input[type="text"] {
	width: 42%;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
    padding: 5px;
}

.dyn-form input[type="submit"] {
	background: #3498db;
    border: none;
    color: white;
    border-radius: 3px;
    padding: 3px 10px;
}

.recipe-pres {
	width: 65%;
    float: right;
    padding-top: 15px;
}

.recipe-pres ul {
	list-style-type: none;
}

.recipe-pres ul li {
    margin-bottom: 15px;
    font-size:20px;
}

.recipe-guide {
	clear: left;
	padding-top: 20px;
    font-size: 18px;
}

.recipe-guide .steps ul {
	list-style-type: none;
}

.recipe-photo {
	width: 34%;
	float: left;
}

.recipe-photo img {
	width: 100%;
}

.bg {
	background-image: url("#{resource['images/bg.jpg']}");
	background-size: cover;
	position: absolute;
	width: 100%;
	height: 100vh;
	z-index: -1;
}